.storybook-button {
  font-family: montserrat, arial, sans-serif;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
  box-sizing: border-box;
  color: #fff;
  /*font-size: 1.4rem;*/
  border: 0;
  border-radius: 5px;
  text-align: center;
  /*letter-spacing: 1px;*/
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.storybook-button:hover { /*font-size: 1.2rem;*/
  opacity: .8;
  animation: 3ms ease;
  transition: all 3ms ease-in-out;
}

/* ------ Storybook button styles ------ */
.storybook-button.primary {
  background-color: #0069b4;
  padding: 1.2rem 1.5rem;
  font-weight: 500;
  color: white;
}
.storybook-button.secondary {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  font-weight: 600;
}

.storybook-button.secondary span.skinny{
  font-weight: 400;
}
.storybook-button.small {
  font-size: .6rem;
  padding: 10px 16px;
}
.storybook-button.medium {
  font-size: .9rem;
  padding: 10px 20px;
}
.storybook-button.large {
  font-size: .9rem;
  padding: 1.2rem 1.5rem;
}

/*positioning*/
.storybook-button.position-right{

  display: flex;

  width: fit-content;
  padding: 10px 20px;
  margin: 1rem 0 1.5rem auto;
  border: 2px solid #fff;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  justify-content: space-between;


}