.storybook-button {
  font-family: montserrat, arial, sans-serif;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-radius: 5px;
  /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
  box-sizing: border-box;
  padding: 1.2rem 1.5rem;
  color: #fff;
  /*font-size: 1.4rem;*/
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  background-color: #0069b4;
  transition: all 100ms ease-in-out;
}

.storybook-button:hover { /*font-size: 1.2rem;*/
  opacity: .8;
  animation: 3ms ease;
  transition: all 3ms ease-in-out;
}

button + button {
  margin-top: 10px;
}


/* ------ Storybook button styles ------ */
.storybook-button--primary {
  color: white;
  background-color: #0069B4;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: .6rem;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: .9rem;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: .9rem;
  padding: 1.2rem 1.5rem;
}
